services:
  - type: web
    name: wiki
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn wiki.wsgi:application"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: wiki-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: false
      - key: WEB_CONCURRENCY
        value: 4

databases:
  - name: wiki-db
    plan: free
